<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feedTitleAllAds</key>
	<string>News</string>
	<key>feedTitleMyAds</key>
	<string>My Ads</string>
	<key>navigationMenuAllAds</key>
	<string>All news</string>
	<key>navigationMenuMyAds</key>
	<string>Only my ads</string>
</dict>
</plist>
