<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feedTitleAllAds</key>
	<string>Объявления</string>
	<key>feedTitleMyAds</key>
	<string>Мои объявления</string>
	<key>navigationMenuAllAds</key>
	<string>Все объявления</string>
	<key>navigationMenuMyAds</key>
	<string>Только мои объявления</string>
</dict>
</plist>
