<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>done</key>
	<string>Done</string>
	<key>save</key>
	<string>Save</string>
	<key>back</key>
	<string>Back</string>
	<key>okay</key>
	<string>OK</string>
	<key>cancel</key>
	<string>Cancel</string>
	<key>delete</key>
	<string>Delete</string>
	<key>edit</key>
	<string>Edit</string>
	<key>create</key>
	<string>Create</string>
	<key>search</key>
	<string>Search</string>
	<key>redThemeName</key>
	<string>Red</string>
	<key>orangeThemeName</key>
	<string>Orange</string>
	<key>yellowThemeName</key>
	<string>Yellow</string>
	<key>greenThemeName</key>
	<string>Green</string>
	<key>tealBlueThemeName</key>
	<string>Teal Blue</string>
	<key>blueThemeName</key>
	<string>Blue</string>
	<key>purpleThemeName</key>
	<string>Purple</string>
	<key>pinkThemeName</key>
	<string>Pink</string>
	<key>feedTitleAllAds</key>
	<string>News</string>
	<key>feedTitleMyAds</key>
	<string>My Ads</string>
	<key>feedTitleBookmarks</key>
	<string>Bookmarks</string>
	<key>feedNoAdsTitle</key>
	<string>No ads to display.</string>
	<key>feedNoAdsDescription</key>
	<string>No one has published ads yet. Be the first!</string>
	<key>feedNoOwnAdsDescription</key>
	<string>The ads you&apos;ll publish will appear here.</string>
	<key>feedNoBookmarkedAdsDescription</key>
	<string>The ads you bookmark will appear here.</string>
	<key>feedNoOrganizationAdsDescription</key>
	<string>You have the right to publish on behalf of this group.</string>
	<key>feedPublishedBy</key>
	<string>Published by</string>
	<key>feedCreatorPage</key>
	<string>Show creator&apos;s page</string>
	<key>navigationMenuAllAds</key>
	<string>All news</string>
	<key>navigationMenuMyAds</key>
	<string>Only my ads</string>
	<key>navigationMenuBookmarks</key>
	<string>My bookmarked ads</string>
	<key>navigationMenuOrganizationAds</key>
	<string>My organization&apos;s ads</string>
	<key>navigationMenuSavedSources</key>
	<string>Saved sources</string>
	<key>accountTitle</key>
	<string>Account</string>
	<key>accountMyProfiles</key>
	<string>My profiles</string>
	<key>accountAddNewProfile</key>
	<string>Add New</string>
	<key>accountProfileSectionDescription</key>
	<string>The profiles you create help others find you by the skills you have. Add as many profiles as you like.</string>
	<key>accountOrganizations</key>
	<string>Groups</string>
	<key>accountOrganizationsSectionDescription</key>
	<string>You can join different groups and get the right to publish ads on behalf of group&apos;s name.</string>
	<key>accountSettings</key>
	<string>App settings</string>
	<key>accountAbout</key>
	<string>About the app</string>
	<key>settingsTitle</key>
	<string>Settings</string>
	<key>settingsLanguage</key>
	<string>Current language</string>
	<key>settingsAccentColor</key>
	<string>Accent color</string>
	<key>aboutTitle</key>
	<string>About</string>
	<key>aboutVersion</key>
	<string>Version</string>
	<key>aboutFeedback</key>
	<string>Submit feedback</string>
	<key>aboutRate</key>
	<string>Rate on App Store</string>
	<key>aboutRTULab</key>
	<string>RTU IT Lab</string>
	<key>accountDetailFirstName</key>
	<string>Name</string>
	<key>accountDetailLastName</key>
	<string>Surname</string>
	<key>accountDetailNameSectionDescription</key>
	<string>Edit your name and surname.</string>
	<key>accountDetailStudentID</key>
	<string>Your student ID</string>
	<key>accountDetailEmail</key>
	<string>Change email</string>
	<key>accountDetailPassword</key>
	<string>Change password</string>
	<key>accountDetailLogout</key>
	<string>Log out</string>
	<key>accountDetailChangeAlertMessage</key>
	<string>You changed your personal info. Would you like to save the change?</string>
	<key>accountDetailChangeAlertCancel</key>
	<string>Don&apos;t save</string>
	<key>emailChangeSectionHeader</key>
	<string>New email address</string>
	<key>emailChangeSectionDescription</key>
	<string>We&apos;ll send you a confirmation link.</string>
	<key>emailChangeAlertMessage</key>
	<string>We&apos;ve sent a confirmation link to your new email. Please confirm it to link it with your account.</string>
	<key>passwordCurrentSectionHeader</key>
	<string>Current password</string>
	<key>passwordEnterCurrent</key>
	<string>Enter your current password</string>
	<key>passwordNewSectionHeader</key>
	<string>New password</string>
	<key>passwordEnterNew</key>
	<string>Enter new password</string>
	<key>passwordRepeatNew</key>
	<string>Repeat your new password</string>
	<key>passwordNewSectionDescription</key>
	<string>You password must be at least 6 characters long.</string>
	<key>passwordChangeAlertTitle</key>
	<string>Password Changed!</string>
	<key>passwordChangeAlertMessage</key>
	<string>You changed your password successfully.</string>
	<key>profileNameSectionHeader</key>
	<string>Profile name</string>
	<key>profileNamePlaceholder</key>
	<string>Name</string>
	<key>profileNameSectionFooter</key>
	<string>Brief name for your profile.</string>
	<key>profileDescriptionSectionHeader</key>
	<string>Profile description</string>
	<key>profileDescriptionSectionFooter</key>
	<string>Describe shortly how you can help others.</string>
	<key>authEmail</key>
	<string>Email</string>
	<key>authPassword</key>
	<string>Password</string>
	<key>authRepeatPassword</key>
	<string>Repeat password</string>
	<key>authForgotPassword</key>
	<string>Forgot password?</string>
	<key>authName</key>
	<string>Name</string>
	<key>authSurname</key>
	<string>Surname</string>
	<key>authSignIn</key>
	<string>Sign In</string>
	<key>authSignUp</key>
	<string>Sign Up</string>
	<key>authRegistrationAlertTitle</key>
	<string>Successfull registration!</string>
	<key>authRegistrationAlertMessage</key>
	<string>Please, confirm your email before signing in.</string>
	<key>authPasswordRestorationAlertMessage</key>
	<string>We send a message to your email. Please follow the insructions.</string>
	<key>adEditorFindPeople</key>
	<string>Invite People</string>
	<key>adEditorEditAd</key>
	<string>Edit Ad</string>
	<key>adEditorDeleteAd</key>
	<string>Delete Ad</string>
	<key>adEditorDeleteAlertMessage</key>
	<string>Are you sure you want to delete this ad? This cannot be undone.</string>
	<key>adEditorCancelCreatingAlertMessage</key>
	<string>Are you sure you don&apos;t want to finish creating the ad?</string>
	<key>adEditorCancelEditingAlertMessage</key>
	<string>Are you sure you want to cancel editing this ad? Unsaved changes will be discarded.</string>
	<key>adEditorDiscardChanges</key>
	<string>Discard changes</string>
	<key>adEditorCancelAdCreation</key>
	<string>Close editor</string>
	<key>adEditorReturnToEditor</key>
	<string>Continue editing</string>
	<key>adEditorEditingModeTitle</key>
	<string>Editing</string>
	<key>adEditorCreationModeTitle</key>
	<string>New Ad</string>
	<key>adEditorNamePlaceholder</key>
	<string>Name for your advertisement</string>
	<key>adEditorDescriptionPlaceholder</key>
	<string>The text for your ad. The first paragraph will be used as short description.</string>
	<key>adEditorBeginDateLabel</key>
	<string>Begin Date</string>
	<key>adEditorEndDateLabel</key>
	<string>End Date</string>
	<key>adEditorDurationLabel</key>
	<string>Duration</string>
	<key>adEditorPublishAdAlertMessage</key>
	<string>Publish this ad as</string>
	<key>adEditorCreator</key>
	<string>Creator</string>
	<key>adEditorJoinAd</key>
	<string>I&apos;m in too</string>
	<key>adEditorComments</key>
	<string>Comments</string>
	<key>adEditorCommentPlaceholder</key>
	<string>Write your comment</string>
	<key>adEditorAddToBookmarks</key>
	<string>Add to bookmarks</string>
	<key>adEditorRemoveFromBookmarks</key>
	<string>Remove from bookmarks</string>
	<key>organizationTitleAllOrganizations</key>
	<string>All Groups</string>
	<key>organizationTitleMyOrganizations</key>
	<string>Only mine</string>
	<key>organizationListTitle</key>
	<string>Groups</string>
	<key>organizationInfoHeaderTitle</key>
	<string>Group</string>
	<key>organizationNamePlaceholder</key>
	<string>Name</string>
	<key>organizationDescriptionPlaceholder</key>
	<string>Description</string>
	<key>organizationMembersHeaderTitle</key>
	<string>Members</string>
	<key>organizationAdmin</key>
	<string>Admin</string>
	<key>organizationJoin</key>
	<string>Join group</string>
	<key>organizationLeave</key>
	<string>Leave group</string>
	<key>organizationDeletionAlertMessage</key>
	<string>Are you sure you want to delete this group? This cannot be undone.</string>
	<key>userPublicProfilesSectionHeader</key>
	<string>Profiles</string>
	<key>userPublicAdsSectionHeader</key>
	<string>Ads</string>
	<key>notificationSetReminder</key>
	<string>Set reminder</string>
	<key>notificationReminderAlertTitle</key>
	<string>Remind me about the event...</string>
	<key>notificationRemindBefore15m</key>
	<string>15m before</string>
	<key>notificationRemindBefore1h</key>
	<string>1h before</string>
	<key>notificationEventReminderMessageBefore15m</key>
	<string>The event mentioned in this ad begins in 15 minutes.</string>
	<key>notificationEventReminderMessageBefore1h</key>
	<string>The event mentioned in this ad begins in 1 hour.</string>
	<key>notificationsDisabledAlertTitle</key>
	<string>Notifications are currently disabled. You can enable them in settings.</string>
	<key>notificationsDisabledSettings</key>
	<string>Settings</string>
</dict>
</plist>
